@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');
html{
  overflow-y: scroll;
  font-family: 'Calibri';
}
body{
  background: #212121;
  padding: 50px 0;
}

.nav{
  font-family: 'Titillium Web';
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
}

.nav * {
  box-sizing: border-box;
  transition: all .35s ease;
}

.nav li {
  display: inline;
  list-style: outside none none;
  margin: .5em 1em;
  padding-left: 0;
}

.nav a {
  padding: .25em 1.5em;
  color: rgba(255,255,255,.5);
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

.nav a:before,
.nav a:after {
  content: '';
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all .55s ease;
  opacity: 0;
}

.nav a:before {
  content: '';
  right: 0;
  top: 0;
  border-top: 3px solid 	#32CD32  ;
  border-right: 3px solid #ADFF2F  ;
  transform: translate(-100%, 50%);
}

.nav a:after {
  content: '';
  left: 0;
  bottom: 0;
  border-bottom: 3px solid 		#32CD32   ;
  border-left: 3px solid #ADFF2F  ;
  transform: translate(100%,-50%)
}

.nav a:hover:before,
.nav a:hover:after{
  transform: translate(0,0);
  opacity: 1;
}

.nav a:hover {
  color: 	#ADFF2F ;
}
.greeting{
  color: rgba(255,255,255,.5);
  font-size: 25px;
  padding-top: 9px;
}
.spl {
  height: 100%;
  width: 15%;
  position: absolute;
}
.spr{
  height: 100%;
  width: 81%;
  position: absolute;
}

.left {
  left: 0;
}
.right {
  right: 0;
}
.updates{
  padding-left: 30px;
}
.fa-arrow-up{
  color: rgb(67, 201, 14);
}
.fa-arrow-down{
  color: red;
}
.data{
  font-size: 15px;
  color: rgba(255,255,255,.5);
  display: inline-block;
}
.sub-head{
  font-size: 15px;
  color: rgba(255,255,255,.5);
  margin: 0;
}
.border-right{
  height: 220%;
  border-right: #2e8b57 solid;
}

.table_data{
  color:rgba(255,255,255,.5);
  font-size:20px;
}
.table_head{
  color:rgba(255,255,255,.5);
  font-size:20px;
  text-align: left;
}
.change_stock_loss{
  background: red; 
  color: white; 
  border-radius: 5px; 
  text-align: center;
}
.change_stock_profit{
  background: #42e442; 
  color: white; 
  border-radius: 5px; 
  text-align: center;
}
.article_link{
  font-size: 20px;
  text-decoration: none;
  color: antiquewhite;
  vertical-align: top;
}

