html{
    font-family: 'Optima',sans-serif;
}
body
{   
    width: 100%;
    margin: 0;
    background-color: rgb(0, 0, 0);
}

header
{
	width: 100%;
	background-color: black;
    margin:0;
  color: aliceblue;
	height: 85px;
  box-shadow: 1px 1px white;
  z-index: 100;
}

#header-left
{
    width: 45%;
    font-size:large;
    
}


#header-left p
{
    padding: 12px 12px 0px 17px;
    float: left;
}

.data {
    font-size: large;
}

#header-logo
{
    width: 5%;
    float: left;
    padding-right: 160px;
}

#header-logo img
{
    height: 50px;
    margin: 0px 12px 0px 40px;
}

#header-right
{
    width: 50%;
    font-size: x-large;
    float: left;
    margin-right: 55px;

}

#header-right p
{
	float: right;
	margin-top: 12px;
    padding: 0px 22px 0px 13px;
}

#header-right p a
{
  color: azure;
  text-decoration: none;
  
}

#header-right a:hover
{
	color: rgb(187, 241, 38);
    transition: .4s;
}

#body-options
{
    margin-top: 100px;
    width: 20%;
}

#body-table
{
    width: 80%;
}

#options
{
  
    color: salmon;
    float: left;
    list-style: none;
    margin-top: 170px;
    padding-right: 110px;
}

#options li 
{
    padding-bottom: 40px;
}

#main_table{

    color: azure;
    font-size: 20px;
    font-family:'Segoe UI';
    margin-top: 40px;
    border-collapse: collapse;
    border-style: double;
    margin-left: 30px;

}

#th_name, #th_qty, #th_cst, #th_ltp, #th_c_val, #th_pl 
{
    padding: 20px 40px 20px 40px;
    text-align: center;
    border-collapse: collapse;
    border-style: double;
}

tr
{
    border: 2px whitesmoke;
    text-align: center;
    
}

tr:hover {
    color:rgb(22, 181, 255);
    
}






/* The sidepanel menu */
.sidepanel {
    height: 350px; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 100;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
    margin-left: 200px;
  }
  
  /* The sidepanel links */
  .sidepanel a {
    padding: 8px 8px 1px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidepanel a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  