body
{
    margin: 0;
    background-color: whitesmoke;
}

header
{
	width: 100%;
	background-color: black;
  color: aliceblue;
	height: 70px;
  box-shadow: 1px 1px white;
  z-index: 100;
}

#header-left
{
    width: 45%;
    font-size: 16px;
    
}

#header-left p
{
    padding: 12px 12px 0px 17px;
    float: left;
}

#header-logo
{
    width: 5%;
    float: left;
    padding-right: 150px;
}

#header-logo img
{
    height: 40px;
    margin: 0px 12px 0px 40px;
}

#header-right
{
    width: 50%;
    font-size: 20px;
    float: left;
    margin-right: 55px;

}

#header-right p
{
	float: right;
	margin-top: 12px;
    padding: 0px 22px 0px 13px;
}
#main_table{
    margin-left: 450px;
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-collapse: collapse;
    border-bottom: 2px solid black;
}
#th_name{
    padding-right: 100px;
    border-right: 2px solid black;
}
#th_qty{
    padding-right: 50px;
}
#th_cst, #th_c_val{
    padding-right: 30px;
}
#th_ltp{
    padding-right: 30px;
    border-right: 2px solid black;
}
#th_pl{
    border-right: 2px solid black;

}