body {
    margin: 0;
    background-color: #212121;
  }
  
  header {
    width: 100%;
    background-color: black;
    color: aliceblue;
    height: 70px;
    box-shadow: 1px 1px white;
    z-index: 100;
  }
  
  #header-left {
    width: 45%;
    font-size: 16px;
  }
  
  #header-left p {
    padding: 12px 12px 0px 17px;
    float: left;
  }
  
  #header-logo {
    width: 5%;
    float: left;
    padding-right: 150px;
  }
  
  #header-logo img {
    height: 40px;
    margin: 0px 12px 0px 40px;
  }
  
  #header-right {
    width: 50%;
    font-size: 20px;
    float: left;
    margin-right: 55px;
  }
  
  #header-right p {
    float: right;
    margin-top: 12px;
    padding: 0px 22px 0px 13px;
  }
  
  #header-right p a {
    color: azure;
    text-decoration: none;
  }
  
  #header-right a:hover {
    color: rgb(96, 241, 38);
  }
  

  /* profile start */
  
  
   .panel-default > .panel-heading {
    background-color: #73c92d;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  .nav-tabs {
    border-bottom: none;
  }
  
  .nav-tabs > li.active > a:after {
    position: absolute;
    content: " ";
    background: #73c92d;
    width: 12px;
    height: 12px;
    border-radius: 3px 0 0 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    box-shadow: none;
    bottom: -60%;
    right: 50%;
  }
  
  .nav-tabs > li > a {
    color: white;
    border: 1px solid transparent;
    border-right: 2px solid white;
    border-radius: 0px;
    padding: 3px 20px;
  }
  .nav-tabs > li > a:hover {
    background-color: transparent;
    border: 1px solid transparent;
    border-right: 2px solid white;
  }
  
  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    color: black;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    border-right: 2px solid rgb(20, 20, 20);
  }
  
  .btn.flat {
    border: none;
    color: white;
    text-shadow: none;
    border-radius: 0px;
    min-width: 160px;
  }
  
  .btn.flat.btn-default {
    background: #38a9de;
    padding: 12px 50px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
 
  
  .btn.flat.btn-create {
    background: #73c92d;
    padding: 10px 45px;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  /* logout start */
  .logout {
   
    position: relative;
    overflow: hidden;
    letter-spacing: 3px;
    opacity: 0;
    transition: opacity 0.45s;
    -webkit-transition: opacity 0.35s;
    color: black;
  }
  .button {
    text-decoration: none;
    float: right;
    padding: 12px;
    padding-left: 10px;
    padding-right: 15px;
    margin: 15px;
    color: black;
    width: 50px;
    background-color: #73c92d;
    transition: width 0.35s;
    overflow: hidden;
  }
  a:hover {
    width: 100px;
  }
  
  a:hover .logout {
    opacity: 5;
  }
  
  a {
    text-decoration: none;
    font-weight: bold;
  }
  /* logout end */
  .btn.Next {
    width: 130px;
    border-radius: 0px !important;
  }
  
  .btn-Upload-group {
    margin: 10px auto;
    padding: 5px;
  }
  
  .btn.flat.Upload {
    background: white;
    border: solid 1px #0bec69;
    color: #0fe921;
    font-size: 13px;
    margin-left: 10px;
  }
  
  .saveclick {
    margin: 50px 10px;
  }
  
  ul.nav {
    list-style: none;
  }
  ul.nav li {
    display: inline-block;
  }
  ul.nav li.message-nav {
    float: right;
    margin-right: 20px;
  }
  ul.nav li.message-nav a {
    color: black;
    background-color: white;
    border-radius: 2cm;
  }
  ul.nav li.message-nav a:hover,
  ul.nav li.message-nav a.open,
  ul.nav li.message-nav a.focus,
  ul.nav li.message-nav a.active {
    cursor: pointer;
    color: #18d812;
    background-color: white;
  }
  ul.nav li.message-nav i {
    font-size: 20px;
  }
  
  .dropdown-menu li.notification-title {
    text-transform: uppercase;
    color: black;
    font-weight: 500;
    font-size: 18px;
    padding: 5px 20px;
    margin: 5px auto 5px;
  }
  .dropdown-menu li.notification-footer {
    text-transform: uppercase;
    color: black;
    font-weight: 500;
    font-size: 18px;
    padding: 5px 20px;
    margin: -5px auto 5px;
    border-top: solid 1px rgba(10, 10, 10, 0.8);
  }
  .dropdown-menu li.notification-footer a:hover {
    text-decoration: none;
  }
  .dropdown-menu ul.notification-list li.notification-item {
    padding: 5px 25px;
    margin-left: -35px;
    margin-right: 0px;
    width: 360px;
    border-top: solid 1px rgba(15, 15, 15, 0.8);
  }
  .dropdown-menu ul.notification-list a.notification-anchor {
    display: block;
    clear: both;
  }
  .dropdown-menu ul.notification-list a.notification-anchor:hover {
    text-decoration: none;
  }
  .dropdown-menu ul.notification-list .notification-anchor span.notification-img {
    float: left;
    margin-right: 10px;
    height: 80px;
    padding-top: 5px;
  }
  .dropdown-menu
    ul.notification-list
    .notification-anchor
    span.notification-img
    img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
  }
  .dropdown-menu ul.notification-list .notification-anchor p {
    margin-bottom: 0px;
    color: #0c0c0c;
    font-size: 12px;
  }
  .dropdown-menu ul.notification-list .notification-anchor p.notification-type {
    font-size: 16px;
    color: #e63a45;
  }
  .dropdown-menu
    ul.notification-list
    .notification-anchor
    p.notification-project {
    font-style: italic;
  }
  
  .skill-zone .label {
    margin-right: 5px;
  }


  .settings-title {
    color: aliceblue;
  }
  .col-sm-4 {
    padding: 10px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #04aa6d;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  button:hover {
    opacity: 1;
  }
  
  /* Float cancel and delete buttons and add an equal width */
  .cancelbtn,
  .deletebtn {
    float: left;
    width: 50%;
  }
  
  /* Add a color to the cancel button */
  .cancelbtn {
    background-color: #ccc;
    color: black;
  }
  
  /* Add a color to the delete button */
  .deletebtn {
    background-color: #f44336;
  }
  
  /* Add padding and center-align text to the container */
  .container {
    padding: 16px;
    text-align: center;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #474e5d;
    padding-top: 50px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* Style the horizontal ruler */
  hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
  }
  
  /* The Modal Close Button (x) */
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
  }
  
  .close:hover,
  .close:focus {
    color: #f44336;
    cursor: pointer;
  }
  
  /* Clear floats */
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Change styles for cancel button and delete button on extra small screens */
  @media screen and (max-width: 300px) {
    .cancelbtn,
    .deletebtn {
      width: 100%;
    }
  }
  

  .user-img {
    text-align: center;
    padding: 20px;
    /* position: relative; */
  }
  
  .user-img img {
    border-radius: 50%;
  }
  
  