body{
    background-image: url(graph2.jpg);
    background-size: cover;
    padding-top: 100px;
    font-family:sans-serif;
  }   
  #signup-holder
  {
    width:55%;
    height:500px;
    margin:35px auto;
    border-radius: 7px;
    background-color: rgb(44, 44, 44) ;
    
  }
  #signup-left
  {
    width: 35%;
    height: 500px;
    margin-right: 20px;
    background-image: url(bullblack.jpg);
    background-repeat: no-repeat;
    background-size: 110% 500px;
    float:left;
  }

.input-padding{
  padding: 3px;
}

label {
  color: #d3d3d3;
}
i {
  color: #d3d3d3;
}

h1{
  padding: 25px;
  color:#2E8B57; 
}

input{
  border:none;
  border-radius: 3px;
  background-color: #696969;
}
::placeholder{
  color: BLACK;
}

#signup-right
  {
    width: 65%;
    height: 500px;
    float:right;
    
  }
.heading{
      font-size: 20px;
      margin-left: auto;
  }
.input-field{
    font-size: 15px;
    font-weight:500;
    
  }
  .submit{
    background-color:#2E8B57;
    border: none;
    padding:0px 28px;
    border-radius: 7px;
    transition: opacity 0.5s;
  }
  .submit:hover{
    opacity: 0.7;
  }
  .button{
    text-align: center;
    padding: 10px;  
    
  }